@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Link Styles */
@layer utilities {
  .gmdu-link {
    @apply decoration-white underline;
    @apply focus:underline focus:decoration-red-500;
    @apply hover:text-purple-300 hover:decoration-red-500 active:decoration-purple-600;
  }
}

a:not(.no-style) {
  @apply gmdu-link;
}

@font-face {
  font-display: swap;
  font-family: Minecraft;
  font-style:  normal;
  font-weight: 100;
  src: url("/fonts/Minecraft-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lilita One";
  font-style:  normal;
  font-weight: 100;
  src: url("/fonts/LilitaOne-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Bold.ttf");
}

.focused {
  display: none;
}

:focus > .focused {
  display: unset;
}

:focus > .not-focused {
  display: none;
}

/* Safari Fixes */
details summary.list-none::-webkit-details-marker {
  display:none;
}