<!DOCTYPE html>
<html class="bg-gray-900 leading-tight text-white antialiased" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="flex min-h-screen flex-col items-center bg-gray-900 bg-tile-dark bg-[length:64px_64px]"
    style="image-rendering: optimizeSpeed; image-rendering: pixelated"
    data-env="{{ node.env }}"
  >
    <div class="flex w-full max-w-screen-hd grow flex-col bg-black/40">
      {% include "partials/site-header.html" %} {% block content %}{% endblock
      %}
    </div>

    <script type="module" src="/main.js"></script>
  </body>
</html>
