{% layout 'layouts/home.html' %} {% block content %}
<main id="main-content" class="flex flex-col lg:flex-row grow items-center lg:items-start lg:justify-center mob:py-6 sm:py-12 m-4">
  <div
    id="overview"
    class="flex flex-col sm:flex-row lg:flex-col items-center m-4 mt-0 lg:ml-0 w-full max-w-prose lg:max-w-xs overflow-clip rounded bg-emerald-900 shadow-2xl shadow-black"
  >
    <div class="mt-0 mob:m-4 lg:m-0 mob:max-w-xs w-full">
      <img src="{{ img }}" alt="Promo image for {{ title }}" class="w-full rounded lg:rounded-none" />
    </div>
    <div class="p-4">
     {% if summary %}
      <p class="pb-4">{{ summary }}</p>
     {% endif %}
     {% if created_at %}
      <p>
        {% heroicon "outline" "calendar" "" 'width=16 class="inline mr-0.5 mb-0.5"' %}
        <span class="font-bold">Created:</span>
        {{ created_at | date: "%d %b, %Y" }}
      </p>
      {% endif %} {% if project_link %}
      <p>
        {% heroicon "outline" "link" "" 'width=16 class="inline mr-0.5 mb-0.5"' %}
        <span class="font-bold">Project Page:</span>
        <a href="{{ project_link[1] }}" target="_blank">
          {{ project_link[0] }}{% heroicon "outline" "external-link" "" 'width=10 class="inline ml-0.5 mb-2"' %}
        </a>
      </p>
      {% endif %} {% if other_links %}
        {% heroicon "outline" "link" "" 'width=16 class="inline mr-0.5 mb-0.5"' %}
        <span class="font-bold">Project Links:</span>
        <ul class="ml-[2.25rem] list-disc">
          {% for link in other_links %}
            <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}{% heroicon "outline" "external-link" "" 'width=10 class="inline ml-0.5 mb-2"' %}</a></li>
          {% endfor %}
        </ul>
      {% endif %} {% if docs %}
      <p>
        {% heroicon "outline" "book-open" "" 'width=16 class="inline mr-0.5 mb-0.5"' %}
        <span class="font-bold">Documentation:</span>
        <a href="{{ docs }}"> Visit docs </a>
      </p>
      {% endif %} {% if authors %}
      <p>
        {% heroicon "outline" "user" "" 'width=16 class="inline mr-0.5 mb-0.5"' %}
        <span class="font-bold">Authors:</span>
      </p>
      <ul class="ml-[2.25rem] list-disc">
        {% for author in authors %}
        <li>
          <a href="{{ author[1] }}" alt="Visit profile of {{ author[0] }}." target="_blank">
            {{ author[0] }}{% heroicon "outline" "external-link" "" 'width=10 class="inline ml-0.5 mb-2"' %}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% if contributors %}
      <p>
        {% heroicon "outline" "user-group" "" 'width=16 class="inline mr-0.5 mb-0.5"' %}
        <span class="font-bold">Contributors:</span>
      </p>
      <ul class="ml-[2.25rem] list-disc">
        {% for contributor in contributors %}
        <li>
          <a
            href="{{ contributor[1] }}"
            alt="Visit profile of {{ contributor[0] }}."
            target="_blank"
          >
            {{ contributor[0] }}{% heroicon "outline" "external-link" "" 'width=10 class="inline ml-0.5 mb-2"' %}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div
    class="prose prose-invert prose-h1:font-heading prose-h1:font-normal w-full max-w-prose rounded bg-zinc-700 p-4 shadow-2xl shadow-black"
  >
    {{ content }}
  </div>
</main>
{% endblock %}
