<header
  class="relative z-10 flex select-none bg-gradient-to-r from-header-start to-header-end shadow-2xl shadow-black"
>
  <nav
    class="flex h-16 grow items-center justify-between gap-4 px-4 text-white"
  >
    <a href="/" class="heading">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="GMDU logo"
          class="max-w-none"
          src="/logo.png"
          height="48"
          width="48"
          style="image-rendering: optimizeSpeed; image-rendering: pixelated"
        />
        <figcaption class="hidden font-minecraft text-2xl sm:block">
          datapack.dev
        </figcaption>
      </figure>
    </a>
    <ul class="hidden gap-2 xs:flex">
      {% for item in navigation.items %} {% if item.url == page.url %} {% assign
      highlight = 'cursor-default' %} {% assign current = 'aria-current="page"'
      %} {% else %} {% assign highlight = 'underline' %} {% assign current = ''
      %} {% endif %}
      <li>
        <a
          href="{{ item.url }}"
          class="text-base font-bold {{ highlight }} "
          {{
          current
          }}
        >
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div
      class="flexbox relative w-full gap-4 xs:hidden"
      x-data="{ menu: false }"
    >
      <span x-on:click="menu = !menu" class="flex cursor-pointer justify-end">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
          x-show="!menu"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
          x-show="menu"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </span>
      <div
        class="absolute -right-4 flex w-full flex-col items-center gap-4 bg-gray-800 p-4 text-center"
        x-show="menu"
      >
        {% for item in navigation.items %} {% if item.url == page.url %} {%
        assign highlight = 'cursor-default' %} {% assign current =
        'aria-current="page"' %} {% else %} {% assign highlight = 'underline' %}
        {% assign current = '' %} {% endif %}
        <a
          href="{{ item.url }}"
          class="font-bold {{ highlight }} decoration-purple-500 block text-2xl"
          {{
          current
          }}
        >
          {{ item.text }}
        </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
